$primary: #00fff2;
$secondary: #5c5c5c;
$success: #20ff2c;
$danger: #f00;
$alert: #e5ff00;
$link: #285aff;
$black: #000;
$white: #fff;

.c-primary {
    color: $primary;
}

.c-success {
    color: $success;
}

.c-danger {
    color: $danger;
}

.c-alert {
    color: $alert;
}

.c-link {
    color: $link;
}

.c-secondary {
    color: $secondary;
}

.c-black {
    color: $black;
}

.c-white {
    color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.bg-danger {
    background-color: $danger;
}

.bg-alert {
    background-color: $alert;
}

.bg-link {
    background-color: $link;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}