@import "breakpoints";

$max-size-sm: 460px;
$max-size-md: 740px;
$max-size-lg: 1000px;
$max-size-xl: 1400px;

// boxes
.box {
    width: 100%;
    max-width: 100%;
}

.box-sm,
.box-md,
.box-lg,
.box-xl {
    width: 100%;
    max-width: $max-size-xl;
    margin: auto;
}

@media (max-width: $extra-large-screen) {

    .box-sm,
    .box-md,
    .box-lg {
        max-width: $max-size-lg;
    }
}

@media (max-width: $large-screen) {

    .box-sm,
    .box-md {
        max-width: $max-size-md;
    }
}

@media (max-width: $medium-screen) {

    .box-sm {
        max-width: $max-size-sm;
    }
}

@media (max-width: $small-screen) {

    .box-sm,
    .box-md,
    .box-lg,
    .box-xl {
        max-width: 100%;
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1rem;
}

// sizes

.size-auto {
    flex: auto;
    width: auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-1 {
    flex: 0 0 auto;
    width: 10%;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-2 {
    width: 20%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-3 {
    width: 30%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-4 {
    width: 40%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-5 {
    width: 50%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-6 {
    width: 60%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-7 {
    width: 70%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-8 {
    width: 80%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-9 {
    width: 90%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.size-10 {
    width: 100%;
    flex: 0 0 auto;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

@media (max-width: $extra-large-screen) {
    .size-xl-auto {
        flex: auto;
        width: auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-1 {
        flex: 0 0 auto;
        width: 10%;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-2 {
        width: 20%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-3 {
        width: 30%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-4 {
        width: 40%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-5 {
        width: 50%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-6 {
        width: 60%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-7 {
        width: 70%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-8 {
        width: 80%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-9 {
        width: 90%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-xl-10 {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
}

@media (max-width: $large-screen) {
    .size-lg-auto {
        flex: auto;
        width: auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-1 {
        flex: 0 0 auto;
        width: 10%;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-2 {
        width: 20%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-3 {
        width: 30%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-4 {
        width: 40%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-5 {
        width: 50%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-6 {
        width: 60%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-7 {
        width: 70%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-8 {
        width: 80%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-9 {
        width: 90%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-lg-10 {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
}

@media (max-width: $medium-screen) {
    .size-md-auto {
        flex: auto;
        width: auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-1 {
        flex: 0 0 auto;
        width: 10%;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-2 {
        width: 20%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-3 {
        width: 30%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-4 {
        width: 40%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-5 {
        width: 50%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-6 {
        width: 60%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-7 {
        width: 70%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-8 {
        width: 80%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-9 {
        width: 90%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-md-10 {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
}

@media (max-width: $small-screen) {
    .size-sm-auto {
        flex: auto;
        width: auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-1 {
        flex: 0 0 auto;
        width: 10%;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-2 {
        width: 20%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-3 {
        width: 30%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-4 {
        width: 40%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-5 {
        width: 50%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-6 {
        width: 60%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-7 {
        width: 70%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-8 {
        width: 80%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-9 {
        width: 90%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }

    .size-sm-10 {
        width: 100%;
        flex: 0 0 auto;
        padding: 0 0.2rem;
        box-sizing: border-box;
    }
}

// Justifiers

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-self-end {
    justify-self: flex-end;
}

.justify-self-space-around {
    justify-self: space-around;
}

.justify-self-space-between {
    justify-self: space-between;
}

.justify-self-space-evenly {
    justify-self: space-evenly;
}